.text_under_search_bar{
    font-size: 0.65rem;
}

.QR{
    left: 42.2%;
}

.notification_first_block{
    height: 80%;
}

.notification{
    top: 25%;
    right: 41.5%;
}

.sharp_point{
    right: 42%;
}

.sharp_point2{
    right: 33%;
}

.language{
    top: 25%;
    right: 30.5%;
}